* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-color: rgb(165, 208, 198);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Allura', cursive;
}
#top {
  border: 1px solid grey;
  background-color: white;
  text-align: left;
  padding: 0px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px #797979);
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#recipeForm label {
  font-family: 'Allura', cursive;
  font-weight: bold;
  font-size: 20px;
}
#recipeForm input, textarea {
  width: 100%;
  height: 20px;
  font-size: 14px;
  margin: 5px 0;
}

#categories {
  accent-color: white;
}
#addRecipe {
  width: 25%;
  background-color:rgb(255, 176, 158);
  border-radius: 40px;
  border: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
#addRecipe:hover {
  cursor: pointer;
  background-color: rgb(250, 152, 130);
}
.categories {
  margin-top: 40px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.box {
  background-color: whitesmoke;
  margin: 5px;
  width: 100%;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  filter: drop-shadow(4px 6px 4px #797979);
  text-align: center;
}
.header {
  background-color: rgb(255, 176, 158);
  border: 4px dotted white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe {
  border: 1px solid grey;
  background-color: white;
  text-align: left;
  margin: 5px;
  padding: 0 10px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px #4b392e);
}
.collapsible {
  vertical-align: top;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}
.content {
  display: none;
  overflow: hidden;
}
